body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #1e90ff;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px;
}
